{% extends "layout.html" %}
{% block content %}
<div class="card-columns">
{% for item in items.items %}
  <div class="card">
    <a href="{{ url_for('post',post_id=item.id) }}"><img src="{{ url_for('static',filename='img/'+item.img1) }}" class="card-img-top" alt="..."></a>
    <div class="card-body">
        <small>{{ item.manufact }} - added by : {{ item.author.username }}</small>
      <a href="{{ url_for('post',post_id=item.id) }}"><h5 class="card-title">{{ item.product_name }}</h5></a>
      <p class="card-text">
        {{ item.cpu_name }} <br>
        {{ item.ram_amm }} GB <br>
        {{ item.strg_amm }} GB <br>
    </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ item.date_posted.strftime("%a %d-%B-%Y, %H:%M:%S") }}</small>
    </div>
  </div>
{% endfor %}
</div>
{% for page_num in items.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
   {% if page_num %}
      {% if page_num == items.page %}
      <a class="btn btn-info mb-4" href="{{ url_for('home',page=page_num) }}">{{ page_num }}</a>
      {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('home',page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
    ...
   {% endif %}
{% endfor %}

{% endblock %}